body {
    background: #242424;
    font-family: Helvetica;
    max-width: auto;
    max-height: auto;
    margin: auto;
    padding: auto;
}

object{
    height: 50vh;
    z-index: -40;
    margin-bottom: -10rem;
}
 
/* TEXTS */
.theme {
    font-size: 2.9rem;
    color: #DDDEE7;
    max-width: 35rem;
}
.FlexContainer {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: auto;
    flex-direction:row;
}

.FlexContainerText {
    max-height: 55rem;
    max-width: 47rem;
    padding-left: 10%;
}
.FlexContainerForm {
    max-height: 55rem;
    max-width: 42.7rem;
    margin: 2rem;
}
/* FORMULARIO */

form {
    max-width: calc(87% + 1px);
    max-height: 30rem;
    padding: 1rem;
    border-radius: 5px;
    background-clip: padding-box;
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    background: rgba(53, 53, 53, 0.75);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(53, 53, 53, 0.88);
    box-sizing: content-box;
    position: relative;
    z-index: 1;
    
}
input {
    height: 3.5rem;
    border-radius: 4px;
    background-clip: padding-box;
    font-size:18px;
    margin: 0.7rem;
    color:#DDDEE7;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:20px;
    background: #242424;
    text-align: center;
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    background: rgba(53, 53, 53, 0.75);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(53, 53, 53, 0.88);
}
input.name, .lastName{
    width: calc(44% + 1px);
    box-sizing: border-box;
}
input.email, .subject {
    width: calc(93% + 1px);
    box-sizing: border-box;
}
input[type=submit] {
    cursor:pointer;
}

textarea{
    background:#242424;
    border: 1px solid #DDDEE7;
    width: calc(93% + 1px);
    height: 10rem;
    margin-left: 0.7rem;
    border-radius: 4px;
    background-clip: padding-box; 
    display:block;
    font-size:18px;
    margin-bottom:20px;
    text-align: center;
    color: #DDDEE7;
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    background: rgba(53, 53, 53, 0.75);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(53, 53, 53, 0.88);
    box-sizing: border-box;
}
.button {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 50px;
    background: #f3f3f3;
    font-family: Helvetica;
    font-size: 1rem;
    font-weight: 1000;
    color: #DDDEE7;
    text-transform: uppercase;
    background: #242424;
    text-align: center;
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    background: rgba(53, 53, 53, 0.75);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(53, 53, 53, 0.88);
    border: none;
    border-radius: 4px;
}
.button:focus {
    animation: morph 1.25s forwards;
}
.button > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.plane {
    display: none;
}
.sent,
.button:focus span {
    opacity: 0;
    visibility: hidden;
}
.button:focus .sent {
    animation: reveal 1s 1.25s forwards;
}
.button:focus .plane {
    display: block;
    animation: takeOff 1s forwards;
}

@keyframes reveal {
    100% {
        opacity: 1;
        visibility: visible;
    }
}
@keyframes morph {
    10%,
    80% {
        width: 50px;
        border-radius: 50%;
        background: #f3f3f3;
        color: #3c2e9e;
    }
    100% {
        background: #3c2e9e;
        color: #f3f3f3;
    }
}
@keyframes takeOff {
    5%,
    15%,
    25%,
    35%,
    45% {
        transform: translate(-47%, -50%);
    }
    10%,
    20%,
    30%,
    40%,
    50% {
        transform: translate(-53%, -50%);
    }
    90% {
        transform: translate(100px, -100px);
    }
    100% {
        transform: translate(100px, -100px);
    }
}