            /*--FONTE--*/
            
            @font-face {
                font-family: Neo;
                src: url(../../Assets/Fonts/neo-latina-demo-FFP.ttf)
            }
                /*--CORPO--*/
            body {
                background: #242424;
                font-family: Helvetica;
                max-width: auto;
                min-height: auto;
                margin: auto;
                padding: auto;
            }
            
            