@font-face {
    font-family: Neo;
    src: url(../../../../Assets/Fonts/neo-latina-demo-FFP.ttf)
}
 body {
     font-family: Helvetica;
     max-width: auto;
     max-height: auto;
     margin: auto;
     padding: auto;
 }
ul{
    display:flex;
    position: relative;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}
ul li {
	list-style-type: none;
    padding-right: 2rem;
}

.menuOption {
    font-size: 1.5rem;
    font-weight: bold;
    color: #DDDEE7;
    text-align: center;
    font-family: Neo;
    background-image: -webkit-linear-gradient(92deg, #dddee7, rgba(0, 248, 248, 0.51));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
        -webkit-animation: hue 10s infinite linear;
    z-index: -2;
}   
@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    to {
      -webkit-filter: hue-rotate(-360deg);
    }
  }
  @media (min-width: 320px) and (max-width: 1110px) {
    .menuOption{
    font-size:clamp(1.8rem, 6.5vh, 2rem);
 }
 ul li{
    padding-right: 1rem;
 }
 @media (min-width: 320px) and (max-width: 900px) {
    .menuOption{
    font-size:clamp(1rem, 6.5vh, 2rem);
    }
    ul li{
        padding-right: 0.5rem;
    }
 }
}