 /*--FONTE--*/
            
 @font-face {
    font-family: Neo;
    src: url(../../../Assets/Fonts/neo-latina-demo-FFP.ttf)
}
/*--CORPO--*/

 header{
    background-color: transparent;
    position: relative;
    padding-top: 5%;
 }
h1{
  margin: auto;
}
 object{
  height: 10vh;
  font-size: 1.2rem;
  font-weight: bold;
  color: #DDDEE7;
  text-align: center;
  font-family: Neo;
  
 }
/*--TITULO--*/

#title {
    display: block;
    font-size: 8rem;
    font-weight: bold;
    color: #DDDEE7;
    text-align: center;
    /* margin-top: -60rem; */
    font-family: Neo;
}
img{
    /* height: clamp(8rem, 5vw, 10rem);
    width: clamp(8rem, 5vw, 10rem); */
    height: 10rem;
    width: 5rem;
    margin-bottom: -4rem;
    
}
/* #subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: #DDDEE7;
    text-align: center;
    margin-top: -5%;
    font-family: Neo;
} */
#title, #subtitle{
    background-image: -webkit-linear-gradient(92deg, #dddee7, rgba(0, 248, 248, 0.51));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
    z-index: -2;
}   
@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    to {
      -webkit-filter: hue-rotate(-360deg);
    }
  }

  @media (min-width: 320px) and (max-width: 1110px) {
   #title{
   font-size:clamp(4rem, 6.5vh, 7rem);
  }
  img{
    max-width: clamp(3rem, 6.5vh, 7rem);
  }
}